<!DOCTYPE html>
<html>
  <head>
    <title>New Cake Input</title>
  </head>
  <body>
    <br>
    <form action="/cake-inventory" method="get">
      <fieldset class="fieldset-auto-width">
        <legend><h2>Filter by manufacturer: </h2></legend>
        <p>
          <label for="manufacturer-select">Select a Manufacturer:</label>
          <select id="manufacturer-select" name="manufacturer_id">
              <% @manufacturers.each do |manufacturer| %>
                <option value=<%= manufacturer.id %>><%= manufacturer.name.capitalize %></option>
              <% end %>
          </select>
        </p>
        <br>
        <input type="submit" value="Filter">
      </fieldset>
    </form>
  </body>
</html>
