<br>

<form action="/cake-orders" method="post">
  <fieldset class="fieldset-auto-width">
    <legend><h2>Filter by manufacturer: </h2></legend>
    <p>
      <label for="manufacturer-select">Select a Manufacturer:</label>
      <select id="manufacturer-select" name="manufacturer_id">
          <option value="manufacturer_id">Earthquake Cakes</option>
          <option value="manufacturer_id">Reekin' Pecans</option>
          <option value="manufacturer_id">Flustered Custard</option>
          <option value="manufacturer_id">Sugar Boogers</option>
      </select>
    </p>
    <br>
    <input type="submit" value="Filter">
  </fieldset>
</form>
