<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Weird Dough</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="icon" href="/images/cupcake.png">
    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <h1>WEIRD DOUGH</h1>
    <br>
    <p><h2>CAKE INVENTORY WEBSITE</h2></p>
    <p><span style="background-color: orange">ORANGE</span> = LOW STOCK</p><br>
    <p><span style="background-color: red">RED</span> = OUT OF STOCK</p>


    <%= yield %>

    <br><br>
    <nav><br>
      <ul>
        <li>Select one of the options below: </li>
        <br>
        <li><a href="/cake-inventory">All cakes in stock</a></li>
        <br>
        <li><a href="/cake-orders/show-bakeries">Display Bakeries used</a></li>
        <br>
        <li><a href="/cake-orders/new">New cake order</a></li>
        <br>
        <li><a href="/cake-orders/delete-cake">Delete cake order</a></li>
      </ul>
    </nav>
    <br>
    <footer>&copy; CodeClan 2019</footer>
  </body>
  </html>
</html>
