<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weird Dough</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="icon" href="/images/cupcake.png">

    <link rel="stylesheet" type="text/css" href="/styles/style.css">


  </head>
  <body>

    <%= yield %>

  </body>
</html>
