<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weird Dough</title>
    <link rel="stylesheet" href="https://fonts.google.com/?selection.family=Delius+Swash+Caps">
    <link rel="icon" href="/images/cupcake.png">

    <link rel="stylesheet" type="text/css" href="/styles/style.css">


  </head>
  <body>

    <%= yield %>

  </body>
</html>
