<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Weird Dough</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="icon" href="/images/cupcake.png">
    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <h1>WEIRD DOUGH</h1>
    <br>
    <p>
      <span style="background-color: green">GREEN</span> = IN STOCK&nbsp;&nbsp;
      <span style="background-color: orange">ORANGE</span> = LOW STOCK&nbsp;&nbsp;
      <span style="background-color: red">RED</span> = OUT OF STOCK
    </p>
    <br>
    <hr align="left" width="50.5%">

    <%= yield %>

    <br><br><br><br>
    <hr align="left" width="50.5%">
    <nav>
      <ul>
        <li><h2>Select one of the options below:</h2></li><br>
        <li>
          <button class="button"><a href="/cake-inventory">Display all cakes</a></button>&nbsp;&nbsp;
          <button class="button"><a href="/cake-orders/new">New cake order</a></button>&nbsp;&nbsp;
          <button class="button"><a href="/cake-orders/delete-cake">Delete cake order</a></button>
        </li><br>
        <li>
          <button class="button"><a href="/cake-orders/show-bakeries">Show all Manufacturers</a></button>&nbsp;&nbsp;
          <button class="button"><a href="/cake-inventory-filter">Filter by a Manufacturer</a></button>
        </li><br>
        <hr align="left" width="50.5%">
      </ul>
    </nav>
    <br>
    <footer>&copy; CodeClan 2019</footer>
  </body>
</html>
