<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Weird Dough</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="icon" href="/images/cupcake.png">

    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/cake-inventory">All cakes in stock</a></li>
        <li><a href="/cake-orders/new">New cake order</a></li>
      </ul>
    </nav>

    <%= yield %>
    <br><br>
    <footer>&copy; CodeClan 2019</footer>
  </body>
  </html>
</html>
