<br>

<h2>Add new cake: </h2>
<form action="/cake-orders" method="post">
  <fieldset class="fieldset-auto-width">
    <legend><h2>Cake details: </h2></legend>
    <p>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Name">
    </p>
    <p>
      <label for="category-select">Select a category:</label>
      <select id="category-select" name="category">
          <option value="birthday">Birthday</option>
          <option value="celebration">Celebration</option>
          <option value="wedding">Wedding</option>
          <option value="cupcake">Cupcake</option>
      </select>
    </p>
    <p>
      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" min="1" name="quantity" >
    </p>
    <p>
      <label for="buying_cost">Buying cost:</label>
      <input type="number" id="buying_cost" min="1" name="buying_cost" >
    </p>
    <p>
      <label for="selling_price">Selling price:</label>
      <input type="number" id="selling_price" min="1" name="selling_price" >
    </p>
    <p>
      <label for="manufacturer-select">Select a Manufacturer:</label>
      <select id="manufacturer-select" name="manufacturer_id">
          <% @manufacturers.each do |manufacturer| %>
            <option value=<%= manufacturer.id %>><%= manufacturer.name.capitalize %></option>
          <% end %>
      </select>
    </p>
    <br>
    <input type="submit" value="Add New Order">
  </fieldset>
</form>
