body {
  font-family: 'Nunito', sans-serif;
  color: white;
  /* Location of the image */
  background-image: url(/images/birthdaycake.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  background-color: #464646;
}

.bottom-border { border-bottom: double white; }

.table > thead, tbody > tr > td {
  text-align: center;
  table-layout: fixed;
}

table {
    border: 1px solid white;
}

table td:last-child {
    border-right: 1px solid;
}

table td:first-child {
    border-left: 1px solid;
}

table td tr {
    border-style: double;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

table th {
    background-color: gray;

}

.small-cell {
  padding:0 5px 5px 5px;
}

.large-cell {
  padding:0 15px 5px 15px;
}

.order-ok {
  padding:0 5px 5px 5px;
  background-color: green;
}

.order-low {
  padding:0 5px 5px 5px;
  background-color: orange;
}

.order-none {
  padding:0 5px 5px 5px;
  background-color: red;
}

.button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #999;
}

.button:hover {background-color: silver}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

/* ============   FOOTER   ============== */

footer {
  display: flex;
  justify-content: left;
}
