body {
  font-family: 'Nunito', sans-serif;
  color: white;
  /* Location of the image */
  background-image: url(/images/cake.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  background-color: #464646;
}

.bottom-border { border-bottom: double white; }

/* ============   FOOTER   ============== */

footer {
  display: flex;
  justify-content: left;
}

.table > thead, tbody > tr > td {
  text-align: center;
  table-layout: fixed;
}

table {
    border: 1px solid white;
}

table td:last-child {
    border-right: 1px solid;
}

table td:first-child {
    border-left: 1px solid;
}

table td tr {
    border-style: double;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

table th {
    background-color: gray;

}

.small-cell {
  padding:0 5px 5px 5px;
}

.large-cell {
  padding:0 15px 5px 15px;
}

.order-low {
  padding:0 5px 5px 5px;
  background-color: orange;
}

.order-none {
  padding:0 5px 5px 5px;
  background-color: red;
}
